<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="firstPage">
            <div class="textContainer">
                <div id="title">LA BINOUSERIE</div>
                <div class="textChange"></div>
            </div>
            <a class="nav-arrow-down">
                <span></span>
            </a>
        </div>
        <div id="headerBack">
            <ul>
                <li class="noHeight">Beers</li>
                <li>End</li>
                <li class="active">Introduction</li>
                <li>Beers</li>
                <li class="noHeight">End</li>
            </ul>
            <div class="imgContainer">
                <div class="beerDetailsBackground"></div>
                <div class="beerForm" id="beerFormAdd">
                    <form action="/add" method="post">
                        <div>
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name">
                        </div>
                        <div>
                            <label for="name">Tagline</label>
                            <input type="text" id="tagline" name="tagline">
                        </div>
                        <div>
                            <label for="name">ABV</label>
                            <input type="text" id="abv" name="abv">
                        </div>
                        <div class="sliderContainer">
                            <label for="mail">EBC</label>
                            <div class="slider">
                                <input type="range" id="ebc" name="ebc" min="1" max="40" value="20" oninput="this.nextElementSibling.value = this.value">
                                <output>20</output>
                            </div>
                        </div>
                        <div>
                            <label for="msg">Description</label>
                            <textarea id="description" name="description"></textarea>
                        </div>
                        <div>
                            <label for="name">First_brewed</label>
                            <input type="text" id="first_brewed" name="first_brewed">
                        </div>
                        <div>
                            <label for="name">Volume</label>
                            <input type="text" id="volume" name="volume">
                        </div>
                        <div class="button">
                            <button type="submit">Envoyer le message</button>
                        </div>
                    </form>
                </div>
                <div class="beerForm" id="beerFormUpdate">
                    <form action="/update" method="post">
                        <input type="text" id="idUpdate" name="id" style="display: none">
                        <div>
                            <label for="name">Name</label>
                            <input type="text" id="nameUpdate" name="name">
                        </div>
                        <div>
                            <label for="name">Tagline</label>
                            <input type="text" id="taglineUpdate" name="tagline">
                        </div>
                        <div>
                            <label for="name">ABV</label>
                            <input type="text" id="abvUpdate" name="abv">
                        </div>
                        <div class="sliderContainer">
                            <label for="mail">EBC</label>
                            <div class="slider">
                                <input type="range" id="ebcUpdate" name="ebc" min="1" max="40" value="20" oninput="this.nextElementSibling.value = this.value">
                                <output>20</output>
                            </div>
                        </div>
                        <div>
                            <label for="msg">Description</label>
                            <textarea id="descriptionUpdate" name="description"></textarea>
                        </div>
                        <div>
                            <label for="name">First_brewed</label>
                            <input type="text" id="first_brewedUpdate" name="first_brewed">
                        </div>
                        <div>
                            <label for="name">Volume</label>
                            <input type="text" id="volumeUpdate" name="volume">
                        </div>
                        <div class="button">
                            <button type="submit">Envoyer le message</button>
                        </div>
                    </form>
                </div>
                <div class="beerDetails">
                    <div class="beerImg"></div>
                    <div class="beerText">
                        <div class="beerTitle">
                            <div class="beerName"></div>
                            <div class="beerTagline"></div>
                        </div>
                        <div class="beerDescription"></div>

                        <div class="beerVolume"></div>
                    </div>
                    <i class="far fa-edit edit"></i>
                    <i class="far fa-trash-alt delete"></i>
                </div>
                <div class="element active" id="introduction">
                    <img class="backRightLeft" src="./assets/img/kwak.jpg" alt="">
                    <div class="text">
                        Si vous êtes ici, ce n'est pas pour rien.<br>
                        Une force puissante et forte en houblon vous a y amené, mais n'ayez pas peur.<br>
                        Prenez un peu de temps et profitez des merveilles que peu proposer ce site.<br>
                        Bonne visite à vous, jeune visiteur.
                    </div>
                </div>
                <div class="element bottom" id="beers">
                    <% beers.forEach(function(beer) { %>
                        <div class="card" id="<%= beer.id %>">
                            <div class="beerName"><%= beer.name %></div>
                            <div class="beerInfo">
                                <div class="beerABV"><%= beer.abv %>°</div>
                                <div class="beerABV"><%= beer.volume['value'] %>L</div>
                            </div>
                            <div class="beerABV">Since <%= beer.first_brewed %></div>
                        </div>
                    <% }); %>
                </div>
                <div class="element bottom" id="end">
                    <img class="backRightLeft" src="./assets/img/londonPride.jpg" alt="">
                    <div class="text">
                        Merci d'avoir passé du temps sur ce site.<br>
                        J'aurai aimé vous en montrer plus mais le temps en a décidé autrement
                    </div>
                </div>
            </div>
            <i class="fas fa-plus add"></i>
        </div>

        <script src="./js/index.js"></script>
    </body>
</html>